@media (prefers-color-scheme: dark) {
  body {
    background-color: #222222;
  }

  .bottom-container {
    background-color: #373A40;
    color: white;
  }
}

body {
  text-align: center;
}

h1 {
  color: #B1D0E0;
}

h2 {
  color: #6998AB;
}

li {
  color: #B8E4F0;
}

.bottom-container {
  color: white;
}

#list {
  display: none;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}
